@import url("../../util/css/main.css");
@import url("../utils/nav.css");

section {
  width: 80%;
  padding-inline: 7%;
  margin-inline: auto;
  box-sizing: content-box;
  max-width: 750px;
}

body {
  position: relative;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 5;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.top-item {
  font-size: 32px;
  font-weight: bold;
}

.top-item .key-name {
  font-size: 20px;
  width: 8ch;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.2s ease-in-out;
}

.accuracy.top-item {
  position: relative;
}

.accuracy.top-item sup {
  position: absolute;
  font-size: 16px;
}

.bottom-item {
  font-size: 16px;
  font-weight: bold;
}

.key-score-wrapper p,
.timer,
.cscore-wrapper p,
.accuracy p {
  color: var(--secondary-color);
  font-family: inter;
  text-transform: uppercase;
}

.key-score-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  color: var(--secondary-color);
  margin-top: 20px;
  margin-bottom: 52px;
  position: relative;
}

.key-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 11px;
  background-color: transparent;
  border: none;
}

.key-change-btn {
  background-image: url("../../assets/icons/key.svg");
  width: 16px;
  height: 9px;
  transition: rotate 0.2s ease-in-out;
}

.key-change-btn.rotate {
  rotate: 180deg;
}

.key-popup-wrapper {
  position: absolute;
  top: 46px;
  border: 1px solid #aaaaaa99;
  border-radius: 8px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  animation: appear 0.2s ease-in-out;
  z-index: 10;
}

.key-popup-wrapper.disabled {
  display: none;
  animation: vanish 0.2s ease-in-out;
}

.key-opt-btn {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.key-opt-btn:last-child {
  margin-bottom: 0;
}

.gscore-wrapper {
  display: flex;
  gap: 50px;
}

.text-display {
  font-size: 32px;
  font-family: inter;
  text-align: justify;
  line-height: 1.8;
  white-space: pre-wrap;
  color: var(--secondary-color);
  margin-bottom: 48px;
}

.input-time-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 22px;
  margin-bottom: 48px;
}

.timer-rest-wrapper {
  display: flex;
  align-items: center;
  gap: 22px;
}

.timer {
  width: 5ch;
  font-size: 1.5rem;
  font-weight: bold;
}

#reset-btn {
  display: block;
  font-size: 1rem;
}

#typing-input {
  flex-grow: 1;
  padding: 1rem;
  font-size: 1.1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#typing-input::placeholder {
  font-family: inter;
  font-style: italic;
}

#typing-input:focus {
  outline: none;
}

.result-container {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cscore-wrapper {
  display: flex;
  align-items: center;
  gap: 65px;
  margin-bottom: 2rem;
}

.text-display .correct {
  color: var(--correct-green);
}

.text-display .incorrect {
  color: var(--incorrect-red);
  text-decoration: underline;
}

.text-display .pending {
  color: var(--pending-yellow);
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.7;
    top: 40px;
  }

  to {
    opacity: 1;
    scale: 1;
    top: 46px;
  }
}

@keyframes vanish {
  from {
    opacity: 1;
    scale: 1;
    top: 46px;
    display: block;
  }

  to {
    opacity: 0;
    scale: 0.7;
    top: 40px;
    display: none;
  }
}

#typing-input:disabled {
  opacity: 0.5;
}
