@import url("../../util/css/main.css");
@import url("../utils/nav.css");

.main-content {
  margin-inline: auto;
  margin-top: 1rem;
  padding-inline: max(5rem, 9%);
}

.pdf-container {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  /* Keep gap here for spacing between text and icon */
  flex-wrap: wrap;
  /* Allow items to wrap */
  text-decoration: none;

  font-family: inter;
  position: relative;
  width: fit-content;
  margin-bottom: 1rem;
  padding-bottom: 5px;
  opacity: 0.9;
}

.pdf-container::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  bottom: 0;
  left: 0;

  background: var(--secondary-color);
  transition: width 0.3s ease;
}

.pdf-container:hover {
  opacity: 0.75;
}

.pdf-container:hover::after {
  width: 100%;
  background: var(--secondary-color);
}

.pdf-text {
  font-size: 1.25rem;
}

.arrow-icon {
  width: 1.25rem;
  height: 1.25rem;
  stroke: var(--secondary-color);
  flex-shrink: 0;
}
