@import url("../../util/css/main.css");
@import url("../utils/nav.css");

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.navs {
  width: 100%;
}

.main-content {
  display: grid;
  place-content: center;
  width: 100%;
  margin-inline: auto;
  padding-inline: max(5rem, 9%);
  margin-bottom: 1rem;
  flex-grow: 1;
}

.guide-links-container {
  margin-bottom: 20dvh;
}

.pdf-container {
  color: var(--secondary-color);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  position: relative;

  text-decoration: none;
  font-family: inter;
  font-size: 1.75rem;
  font-weight: 200;

  margin-bottom: 1.5rem;
  width: fit-content;

  opacity: 1;
  transition: opacity 0.3s ease;
}

.pdf-container::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  display: block;
  bottom: 0;
  left: 0;

  background: var(--secondary-color);
  transition: width 0.3s ease;
}

.pdf-container:hover {
  opacity: 0.5;
}

.pdf-container:hover::after {
  width: 100%;
  background: var(--secondary-color);
}
