@import url("../../util/css/main.css");
@import url("../utils/nav.css");

.content {
  max-width: 95ch;
  margin-inline: auto;
  margin-block: 2rem;
}

h1,
h2,
h3 {
  font-family: "inter";
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

h2,
h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  color: var(--secondary-color);
  font-size: 1rem;
  max-width: 65ch;
  line-height: 1.5rem;
  text-align: justify;
}

.em {
  font-weight: bold;
}

.support-link {
  font-weight: initial;
  font-size: initial;
  text-transform: initial;
}

.support-link.active:hover {
  cursor: pointer;
}
