@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Mont";
  src: url("../../assets/fonts/Montserrat.ttf") format("truetype");
}

@font-face {
  font-family: "Ethio";
  src: url("../../assets/fonts/Noto\ Sans\ Ethiopic.ttf") format("truetype");
}

:root {
  /* colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --off-color-dark: #ffffffaa;
  --off-color-light: #a8a8a8;
  --color-light-gray: #f4f4f5;
  --color-dark-gray: #191919;

  /* typing text color */
  --dark-success: #00d68f;
  --dark-warning: #ffd166;
  --dark-danger: #ff4b4b;

  --light-success: #007a52;
  --light-warning: #a66b00;
  --light-danger: #b00020;

  /* setting theme to light mode*/
  --primary-color: var(--color-white);
  --secondary-color: var(--color-black);
  --off-gray: var(--off-color-light);
  --accent-gray: var(--color-light-gray);

  --correct-green: var(--light-success);
  --pending-yellow: var(--light-warning);
  --incorrect-red: var(--light-danger);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#icon-close path {
  stroke: var(--secondary-color);
}

#icon-menu path {
  fill: var(--secondary-color);
}

#icon-theme path {
  fill: var(--secondary-color);
}

button:hover {
  cursor: pointer;
}

.deactive {
  display: none !important;
}

html {
  background-color: var(--primary-color);
}

body {
  position: relative;
}

.icon-btn {
  border: none;
  background: transparent;
}

/*Toggle BTN Begin*/
.toggle-btn {
  width: 2.8125rem;
  height: 1.5rem;
  position: relative;
  border-radius: 100vw;
  border: none;
  background-color: var(--off-gray);
  transition: background-color 0.2s ease-in-out;
}

.toggle-btn::before {
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: var(--primary-color);

  position: absolute;
  top: 50%;
  left: 0.125rem;

  transform: translateY(-50%);
  transition: left 0.2s ease-in-out;
}

.toggle-btn.on {
  background-color: var(--secondary-color);
}

.toggle-btn.on::before {
  left: calc(100% - 1.375rem);
}

/*Toggle BTN End*/

/*Proper BTN Begin*/
.proper-btn {
  font-weight: 500;
  font-family: Inter;
  padding-inline: 1.1875rem;
  padding-block: 0.8125rem;
  line-height: 1rem;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: outline 0.2s ease-in-out;
}

.proper-btn:hover {
  outline: 1px solid var(--secondary-color);
}

/*Proper BTN End*/

/*Radio Input Begin*/
input[type="radio"] {
  --wh: 1.125rem;
  border: 1px solid var(--secondary-color);
  height: var(--wh);
  width: var(--wh);
  appearance: none;
  /* Removes default styling */
  border-radius: 50%;
  /* Makes it circular */
  background-color: transparent;
}

input[type="radio"]:checked {
  background-color: var(--secondary-color);
  outline: 1.5px solid var(--primary-color);
  outline-offset: -3px;
}

/*Radio Input End*/

/*Label Input Begin*/
label,
.label {
  font-family: Inter;
  color: var(--secondary-color);
}

/*Label Input End*/

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--color-black);
    --secondary-color: var(--color-white);
    --off-gray: var(--off-color-dark);
    --accent-gray: var(--color-dark-gray);

    --correct-green: var(--dark-success);
    --pending-yellow: var(--dark-warning);
    --incorrect-red: var(--dark-danger);
  }
}
