.nav-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--primary-color);
  z-index: 2;
  transform: translateX(-100%);
  opacity: 0;
  display: none;
  place-content: center;
  align-items: start;
  justify-content: center;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.4s ease-in-out;
}

.nav-popup-container.is-open {
  transform: translateX(0);
  opacity: 1;
}

#menu-btn {
  display: none;
}

.nav-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.125rem;
  margin-bottom: 5rem;
}

#close-menu-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  scale: 1.5;
}

.arrow-icon {
  width: 1em;
  height: 1em;
  stroke: var(--secondary-color);
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  padding: max(2%, 2rem) max(3rem, 7%);
}

.nav-left,
.nav-right {
  display: flex;
  gap: 2.125rem;
}

.nav-link {
  color: var(--secondary-color);
  position: relative;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding-bottom: 0.3125rem;
  width: fit-content;

  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.nav-popup-container .nav-link {
  padding-bottom: 0.3125rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: fit-content;
  font-size: 1.25rem;
}

.nav-link.selected {
  display: inline-block;
  text-decoration: none !important;
  /* border-bottom: 0.0625rem solid var(--secondary-color); */
  opacity: 0.5;
}

.nav-link.nav-link.selected {
  cursor: default;
}

.nav-link:not(.selected)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  display: block;
  bottom: 0;
  left: 0;
  background: var(--secondary-color);
  transition: width 0.3s ease;
}

.nav-link:not(.selected):hover::after {
  width: 100%;
  background: var(--secondary-color);
}

.nav-popup-container .nav-link:not(.selected):hover {
  opacity: 0.5;
}

@media (max-width: 720px) {
  #menu-btn {
    display: flex;
  }

  .nav-left,
  .nav-right {
    display: none;
  }

  .nav-popup-container {
    display: grid;
  }
}
