.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  padding: max(2%, 2rem) max(3rem, 7%);
}

.nav-left,
.nav-right {
  display: flex;
  gap: 34px;
}

.nav-link {
  color: var(--off-gray);
  padding-block: 0;
  margin: 0;
  text-decoration: none;
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  width: fit-content;
  display: grid;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--secondary-color);
  position: relative;
  padding-bottom: 5px;
}

.nav-link.selected {
  display: inline-block;
  text-decoration: none !important;
  /* border-bottom: 1px solid var(--secondary-color); */
  opacity: 0.5;
}

.nav-link.nav-link.selected {
  cursor: default;
}

.nav-link:not(.selected)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  bottom: 0;
  left: 0;
  background: var(--secondary-color);
  transition: width 0.3s ease;
}

.nav-link:not(.selected):hover::after {
  width: 100%;
  background: var(--secondary-color);
}
