@import url("../util/css/main.css");
@import url("../pages/utils/nav.css");

html {
  width: 24.375rem;
  height: 37.5rem;
  background-color: purple;
}

body {
  width: 24.375rem;
  height: 37.5rem;
  background-color: var(--primary-color);
  position: relative;
}

p,
button {
  font-family: Inter;
  font-weight: 500;
}

.nav-popup-container .nav-link {
  font-size: 1rem;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  backdrop-filter: blur(2px);
}

.theme-container {
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  position: absolute;
  top: 3.5rem;
  right: 2.1875rem;
  animation: appear 0.2s ease-in-out;
  z-index: 10;
  border: 1px solid #aaaaaa99;
}

.theme-container.disabled {
  display: none;
  animation: vanish 0.2s ease-in-out;
}

.mode-radio-container,
.theme-radio-container {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.theme-radio-container:last-child {
  margin-bottom: 0;
}

#close-menu-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  scale: 1.5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6875rem;
}

.main-content {
  padding: 3.875rem;
  padding-bottom: 2rem;
}

.keyboard-mode-container {
  margin-bottom: 1.925rem;
}

.radio-mode-container {
  padding-left: 0.5rem;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}

.label {
  font-size: 0.825rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.toggle-label {
  margin-bottom: 0;
}

.score-container {
  margin-bottom: 2.25rem;
}

.score-reset-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  gap: 1rem;
  color: var(--secondary-color);
}

.awpm-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--secondary-color);
}

#awpm {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--correct-green);
}

.proper-btn {
  font-size: 0.8125rem;
  line-height: 1rem;
}

#reset-score {
  color: var(--incorrect-red);
  background-color: transparent;
  border: 2px solid var(--incorrect-red);
  font-weight: bold;
}

#reset-score:hover {
  outline-color: var(--incorrect-red);
}

#reset-score:disabled {
  cursor: initial;
  opacity: 0.6;
  outline: none;
}

.reset-confirm-container {
  padding: 1rem 0.9rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: center-appear 0.2s ease-in-out;
  z-index: 10;
  border: 1px solid #aaaaaa99;
  width: 80%;
  text-align: center;
}

.reset-confirm-container.disabled {
  display: none;
  animation: center-vanish 0.2s ease-in-out;
}

.reset-confirm-text {
  font-size: 0.85rem;
  line-height: 1.5;
  color: var(--secondary-color);
  margin: 0.75rem;
  text-align: left;
}

.reset-confirm-text:nth-child(2) {
  margin-bottom: 2rem;
}

.reset-confirm-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

#confirm-reset-btn {
  color: var(--incorrect-red);
  background-color: transparent;
  border: 2px solid var(--incorrect-red);
  font-weight: bold;
}

#cancel-reset-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  font-weight: bold;
}

#activation-toggle.no-transition,
#activation-toggle.no-transition::before {
  transition: none !important;
}

@keyframes center-appear {
  from {
    opacity: 0;
    scale: 0.7;
    transform: translate(-50%, -50%);
  }

  to {
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes center-vanish {
  from {
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
    display: block;
  }

  to {
    opacity: 0;
    scale: 0.7;
    transform: translate(-50%, -50%);
    display: none;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.7;
    top: 3.125rem;
  }

  to {
    opacity: 1;
    scale: 1;
    top: 3.5rem;
  }
}

@keyframes vanish {
  from {
    opacity: 1;
    scale: 1;
    top: 3.5rem;
    display: block;
  }

  to {
    opacity: 0;
    scale: 0.7;
    top: 3.125rem;
    display: none;
  }
}
