@import url("../util/css/main.css");
@import url("../pages/utils/nav.css");

html {
  width: 24.375rem;
  height: 37.5rem;
  background-color: purple;
}

body {
  width: 24.375rem;
  height: 37.5rem;
  background-color: var(--primary-color);
  position: relative;
}

p,
button {
  font-family: Inter;
  font-weight: 500;
}

.nav-popup-container .nav-link {
  font-size: 1rem;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 5;
}

.theme-container {
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  position: absolute;
  top: 3.5rem;
  right: 2.1875rem;
  animation: appear 0.2s ease-in-out;
  z-index: 10;
  border: 1px solid #aaaaaa99;
}

.theme-container.disabled {
  display: none;
  animation: vanish 0.2s ease-in-out;
}

.mode-radio-container,
.theme-radio-container {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.theme-radio-container:last-child {
  margin-bottom: 0;
}

#close-menu-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  scale: 1.5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6875rem;
}

.main-content {
  padding: 3.875rem;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}

.label {
  font-size: 0.825rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.toggle-label {
  margin-bottom: 0;
}

.shortcut-container {
  margin-bottom: 2.25rem;
}

.shortcut-input-edit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shortcut-input-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--accent-gray);
  color: var(--secondary-color);
}

.shortcut-input {
  max-width: 4ch;
  font-weight: 500;
  color: var(--secondary-color);
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}

.proper-btn {
  font-size: 0.8125rem;
  line-height: 1rem;
}

#activation-toggle.no-transition,
#activation-toggle.no-transition::before {
  transition: none !important;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.7;
    top: 3.125rem;
  }

  to {
    opacity: 1;
    scale: 1;
    top: 3.5rem;
  }
}

@keyframes vanish {
  from {
    opacity: 1;
    scale: 1;
    top: 3.5rem;
    display: block;
  }

  to {
    opacity: 0;
    scale: 0.7;
    top: 3.125rem;
    display: none;
  }
}
